/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
  font-family: 'Poppins', sans-serif;
}
header a {
    text-decoration: none;
    color: inherit;
  }
  ul{
    margin: 0 !important;
  }
.header-wrapper {
    height: 3.5rem;
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 313;
    padding: 4px;
    box-shadow: 1px 4px 5px rgba(180, 180, 180, 0.533);
  }
  .header-bottom {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--white); */
    height: 55px;
    border-bottom: 1px solid #54545400;
  }
  .header-bottom-left,
  .header-bottom-right {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 20px;
  }
  .header-bottom-center {
    margin: 0 auto;
  }
  .header-bottom-center input {
    width: 550px;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: var(--bg-small);
    border: 1px solid #b8b5b51f;
    text-align: center;
    outline: none;
    font-size: 1.6;
  }
  .header-bottom-center input::placeholder {
    font-size: 1.5rem;
  }
  
  .header-bottom-left .header-bottom-item-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .header-bottom-item-text.active {
    color: linear-gradient(135deg, #ed55c7, #6756ca);
    background: linear-gradient(135deg, #ed55c7, #6756ca);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header-bottom-right-items.user {
  	justify-content: center !important;
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  .header-bottom-right-items.user:hover{
    background: var(--theme-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header-bottom-right-items i{
     font-size: 1.1rem;
  }

  .about-user {
    display: flex;
    flex-direction: column;
  }
  .about-user-1 {
    font-size: 0.7rem;
  }
  .about-user-2 {
    font-size: 0.9rem;
    margin-top: 3px;
    font-weight: 550;
  }
  .header-bottom-right-item {
    background: rgba(16,16,16,.05098);
     width: 40px;
  height: 40px;
  padding: 10px 12px;
 /*  background-color: var(--bg-small); */
  /* circle */
  border-radius: 50%;
  }
  
  .header-bottom-right-item:hover{
    background: var(--theme-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header-bottom-right-item i {
    font-size: 1.2rem;
    color: var(--text-color);
  }

  .header-center-input input{
      background:rgba(70, 70, 70, 0.05);
  }

  .header-center-input input::placeholder{
    font-size: 1rem;
}

.header-center-input input{
  font-size: 1rem;
}


.profile {
  align-items: center;
  height: inline;
  display: flex;
}
.profile-right {

  margin-left: 10px;
  justify-content: center;
  display: flex;
}

.layout-menu-toggle{
  /* display: none; */
  margin-left: -3rem;
}
.action .menu {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  right: 10px;
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 60px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.action .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}

.action .menu ul li {
  list-style: none;
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.header-bottom-item-text{
	font-weight: bold;
}

/* ============= MEDIA =========== */
@media screen and (max-width:1200px){
  .nav{
	z-index: 500;
	}
}
@media screen and (max-width:800px){
  .layout-menu-toggle{
    display: inline;
  }
}

@media screen and (max-width: 800px) {

  .header-bottom {
    padding: 0 10px;
  }
  .header-bottom-center{
  	width: 100%;
  }
  .header-bottom-center input{
  	width: 90%;
  }
  .about-user{
  	display: none;
  }
  .header-bottom-item-text{
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.header-bottom-logo{
	display: none;
	}
	  .header-bottom{
	display: flex;
	justify-content: space-around;
	}
	
}

@media (max-width: 490px) {
	.header-bottom-item-text
	{
		display: none;
	}
	
	.header-top-right
	{
		display: none;
	}
	 .header-bottom-right{
	 	gap: 0 10px;
	 }
	
  .header-bottom-center input {
     border-radius: 5px;
     margin: 0 !important;
  }
}
